<% layout('boilerplate') -%>
<div>
    <p class="mt-2">Legal Term</p>
    <div>
        <h1>TrekTribe Privacy</h1>
        <p>This page belongs to all legal policies and law that have been preserved for the right of <i>TrekTribe</i> </p>
    </div>
    <div>
        <h2>Privacy Policy</h2>
        <p>Our Privacy Policy explains what personal information we collect, how we use personal information,<br>
            how personal information is shared, and privacy rights.</p>
            <h3>Privacy Policy for Countries</h3>
            <ul>
                <li> <a href="/priIndia">Privacy Policy in India</a></li>
                <li><a href="/priOutside">Privacy Policy Outside India</a></li>
            </ul>
            <p>
                Please review the supplemental privacy policies linked within the privacy policy documents,<br>
                such as for certain TrekTribe services, that may be applicable to you.
            </p>
    </div>
    <div>
        <h2>Related Articles</h2>
        <ul>
            <li><b>Always Verify yourself</b>: Always do verify yourself and then Air you home/hotel on TrekTribe.<br> 
                This will enable you smooth and continuous flow data from user to customer point.</li>
            <li><b>Beware of Fraud</b>: Do verify twice before giving you Website detail to anyone who call and says he/she is a TrekTribe employee.<br><b>In case of any harm TrekTribe is not responsible for it.</b></li>
        </ul>
    </div>
</div>