body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: whitesmoke !important;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none !important;
    color: #222222 !important;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none !important;
    color: #222222 !important;
}


.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}



/* Maps */
#map { 
    height: 400px;
    width: 80vh;
    border: 4px solid #000;
 }

 /* Home page */

 #home a{
    display: flex;
    height: 100px!important;
    border-radius: 25px !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 40px;
    /* margin: 100px !important;  */
    margin-left: 80px !important;
    margin-right: 40px !important;
    margin-top: 250px !important;
    align-items: center !important;
    justify-content: center !important;
    border: 8px solid black;
    padding: 5px !important;
    color: white !important;
    background-color: purple !important;

 }

 #home{
    height: 100vh !important;
    background-color: whitesmoke !important;
 }
